.app__newsletter {
    padding: 2rem 4rem;
    border: 1px solid var(--color-golden);
    background: var(--color-black);
}

.app__newsletter-heading {
    text-align: center;
}

.app__newsletter-input {
    flex-direction: column;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}


.app__newsletter-input input {
    width: 50%;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--color-white);
    margin-bottom: 15px;
    margin-right: 2rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
}

.app__newsletter-textarea {
    width: 50%;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: var(--font-base);
    color: var(--color-white);
    margin-right: 2rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
}

.app__newsletter-input button {
    margin-top: 15px;
    width: max-content;
}

@media screen and (min-width: 2000px) {
    .app__newsletter-input input {
        font-size: 2rem;
    }

}

@media screen and (max-width: 990px) {
    .app__newsletter-input {
        flex-direction: column;
        width: 100%;
    }

    .app__newsletter-textarea {
        width: 100%;
        border: 1px solid var(--color-golden);
        border-radius: 5px;
        font-size: 1.5rem;
        font-family: var(--font-base);
        color: var(--color-white);
        padding: 0.75rem 1rem;
        margin-right: 0rem;
        background: var(--color-black);
    }

    .app__newsletter-input input {
        margin: 0 0 2rem 0;
        width: 100%;
    }
 
}

@media screen and (max-width: 650px) {
    .app__newsletter {
        padding: 2rem 0;
        border: none;
    }

}

@media screen and (max-width: 300px) {
    .app__newsletter-heading h1 {
        font-size: 32px;
        line-height: 50px;
    }
}

@media screen and (max-width: 600px) {
    .app__newsletter-textarea {
        width: 100%;
        border: 1px solid var(--color-golden);
        border-radius: 5px;
        font-size: 1.5rem;
        font-family: var(--font-base);
        color: var(--color-white);
        padding: 0.75rem 1rem;
        margin-right: 0rem;
        background: var(--color-black);
    }
  }